.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .container {
    display: flex; /* or inline-flex */
  }
  .card{
    margin-top: -27px;
  }
  .cardstyle{
    width:90%;
    height: 95%;
  }