<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card class="cardstyle">
      <h5>Form</h5>
      <form >
      <mat-form-field class="example-full-width">
        <input matInput name="name" placeholder="Name"  [(ngModel)]="form.name" >
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input matInput name="password" placeholder="Password" [(ngModel)]="form.password"  >
      </mat-form-field>
<br>
<mat-form-field class="example-full-width">
  <input matInput name="repassword" placeholder="Recet Password" [(ngModel)]="form.repassword"  >
</mat-form-field>
<br>
<mat-form-field>
  <mat-select placeholder="Favorite food" [(ngModel)]="selectedvalue" name="food">
    <mat-option *ngFor="let food of foods" [value]="food.viewValue">
      {{ food.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput name="appending value" placeholder="appending value" value="{{selectedvalue}}" >
</mat-form-field>


<br>
<button mat-raised-button color="primary" class=" pull-right" (click)="formSubmit()">Primary</button>  
</form>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="cardstyle">
      <h5>Dialog</h5>
      <table class="table table-hover">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fromdata of formData">
              <td>{{fromdata.name}}</td>
              <td>{{fromdata.Email}}</td>
              <td>{{fromdata.phone}}</td>
              <button mat-raised-button color="primary" (click)="openDialog(fromdata)">Pick one</button>
            </tr>
          </tbody>
        </table>
     
            
         
          
       
      </mat-card>
    </mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>